<div class="sidebar">
  <div class="logo">
    <h1>GNS3<span>NetSecLab</span></h1>
  </div>
  <div class="nav-menu">

    <div class="menu-heading">Main</div>
    <a class="nav-link" href="<%= activePage === 'dashboard' ? '#' : '/' %>">
    <div class="nav-item <%= activePage === 'dashboard' ? 'active' : '' %>">
      <i class="fas fa-chart-pie"></i>
      <span>Dashboard</span>
    </div>
    </a>
    <% if (role === 'administrator' || role === 'instructor') { %>
    <a class="nav-link" href="<%= activePage === 'users' ? '#' : '/users' %>">
    <div class="nav-item <%= activePage === 'users' ? 'active' : '' %>">
      <i class="fas fa-users"></i>
      <span>Users</span>
    </div>
    </a>
    <% } %>
    <div class="nav-item <%= activePage === 'classrooms' ? 'active' : '' %>">
      <i class="fa-solid fa-people-roof"></i>
      <span>Classrooms</span>
    </div>
    <div class="nav-item <%= activePage === 'projects' ? 'active' : '' %>">
      <i class="fas fa-diagram-project"></i>
      <span>Projects</span>
    </div>
    <div class="nav-item <%= activePage === 'tasks' ? 'active' : '' %>">
      <i class="fa-solid fa-clipboard-list"></i>
      <span>Tasks</span>
    </div>
     <% if (role === 'administrator' || role === 'instructor') { %>
    <div class="menu-heading">Reports</div>
    <div class="nav-item <%= activePage === 'analytics' ? 'active' : '' %>">
      <i class="fas fa-chart-line"></i>
      <span>Analytics</span>
    </div>
    <div class="nav-item <%= activePage === 'completions' ? 'active' : '' %>">
      <i class="fa-solid fa-list-check"></i>
      <span>Completions</span>
    </div>
     <% } %>
    <div class="menu-heading">Admin</div>
    <div class="nav-item <%= activePage === 'settings' ? 'active' : '' %>">
      <i class="fas fa-cog"></i>
      <span>Settings</span>
    </div>
    <div class="nav-item <%= activePage === 'notifications' ? 'active' : '' %>">
      <i class="fas fa-bell"></i>
      <span>Notifications</span>
    </div>
    <% if (role === 'administrator') { %>
      <div class="nav-item <%= activePage === 'security' ? 'active' : '' %>">
        <i class="fas fa-shield-alt"></i>
        <span>Security</span>
      </div>
    <% } %>

    <div class="nav-item" id="logout-link">
      <i class="fas fa-sign-out-alt"></i>
      <span>Logout</span>
    </div>

    <form id="logout-form" action="/api/v1/logout" method="post" style="display: none;">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </form>
  </div>
</div>

<!-- JavaScript for Handling Clicks -->
<script>

  // Logout handler
  document.getElementById('logout-link').addEventListener('click', function(e) {
    e.preventDefault();
    document.getElementById('logout-form').submit();
  });
</script>